@media only screen and (max-width: 768px) {
    .order{
        height: 600px;
    }
    .order .orderName{
        top: 65px;
    }
    
    .order .orderName h1{
        font-size: 24px;
        font-weight: bold;
    }

    .order form{
        top: 160px;
        left: 5%;
        width: 90%;
        height: 384px;
    }

    .order form input.redEgg{
        margin-bottom: 48px;
    }
}

@media screen and (device-aspect-ratio: 40/71) {
    
    .order .orderName{
        top: 50px;
    }

  }