@media only screen and (max-width: 800px) {
    .order{
        height: 620px;
    }
    .order .orderName{
        top: 75px;
    }
    
    .order .orderName h1{
        font-size: 24px;
        font-weight: bold;
    }

    .order form{
        top: 170px;
        left: 4%;
        width: 90%;
        height: 384px;
    }
    

    .order form input.redEgg{
        margin-bottom: 48px;
    }
}

@media only screen and (max-width: 320px){
    .order{
        height: 630px;
    }
    .order form{
        top: 180px;
        left: 5%;
    }

    .order form input{
        width: 75%;
        margin: 0 auto 24px;
        font-size: 12px;
    }

    .order form .button{
        width: 80%;
    }
}
