.order{
    display: block;
    position: relative;
    width: 100%;
    height: 672px;
    background-color:#00534f;
}

.order .orderName{
    display: block;
    position: absolute;
    top: 96px;
    left: 0;
    width: 100%;
    height: auto;
}

.order .orderName h1{
    margin: 0;
    padding: 0;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    font-family: 'BPG Nino Mtavruli Bold', 'BPG Nino Mtavruli';
    letter-spacing: 2px;
}

.order .orderName p{
    margin: 10px 0 30px 0;
    padding: 0;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-family: 'BPG Nino Mtavruli Bold', 'BPG Nino Mtavruli';
    letter-spacing: 2px;
}

.order form{
    display: block;
    position: absolute;
    top: 192px;
    left: 35%;
    width: 30.3%;
    height: 384px;
}

.order form input{
    display: block;
    width: 95%;
    height: 44px;
    margin-bottom: 24px;
    color: black;
    padding-left: 5%;
    padding-top: 4px;
    background-color: #ffffff;
    border: none;
    font-weight: normal;
    font-family: 'BPG Nino Mtavruli Bold', 'BPG Nino Mtavruli';
    font-size: 16px;
}

.order form input.redEgg{
    margin-bottom: 72px;
}

.order form .button{
    padding: 0;
    display: block;
    width: 100%;
    height: 48px;
    margin-top: 48px;
    background-color: #eedb3b;
    font-size: 18px;
    color: #464247;
    cursor: pointer;
    border: none;
    font-family: 'BPG Nino Mtavruli Bold', 'BPG Nino Mtavruli';
    line-height: 48px;
}


.order form .button:hover{
    background-color: transparent;
    color: #eedb3b;
    border: 2px solid #eedb3b;
}