@media only screen and (max-width: 800px) {

    .service{
        height: 540px;
    }

    .service .serviceBackground{
        display: none;
    }
    .service .serviceName {
        top: 65px;
    }

    .service .serviceName h1{
        color: #464247;
        font-size: 24px;
        letter-spacing: 5px;
    }

    .service .mainServices{
        top: 130px;
        width: 90%;
        left: 4.5%;
        height: auto;
    }

    .service .mainServices ul li{
        width: 100%;
        height: 60px;
        margin-bottom: 24px;
        font-size: 15px;
        border: 2px solid #464247;
        line-height: 60px;
        letter-spacing: 1px;
        margin-right: 0;
    }


    .service .mainServices ul li.twoLineRectangle{
        line-height: 20px;
        padding-top: 10px;
        height: 50px;
    } 

}

@media screen and (max-width: 320px) {
    .service{
        height: 515px;
    }
    .service .serviceName {
        top: 55px;
    }

    .service .mainServices{
        top: 120px;
    }

    .service .mainServices ul li.redEgg{
        
    }

  }