@media only screen and (max-width: 800px) {
    .about{
        height: 500px;
    }
    .about .aboutUsInfo{
        top: 145px;
        left: 5%;;
        width: 90%;
        height: 65%;
        padding: 0;
    }

    .about h1{
        top: 75px;
        left: 25%;
        font-size: 24px
    }

    .about .aboutUsInfo p{
        font-size: 14px;
    }
}

@media screen and (max-width: 320px) {
    .about{
        height: 520px;
    }
    .about .aboutUsInfo{
        top: 110px;
    }
    .about h1{
        top: 75px;
        left: 20%;
        font-size: 22px
    }
  }